
.light {
  color: gray;
}

.rank {
  background: orange;
  padding: 2px 3px 2px 3px;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 10px;
}

.icon {
  margin-right: 5px;
}

.pointer {
  cursor: pointer;
}

.red {
  color: red;
}
.green {
  color: green;
}

.padding10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.detailPriceUsd {
  font-size: 26px;
}

.borderLeft {
  border-left: 1.5px solid #cfcfcf;
}

.padding20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-left20 {
  padding-left: 20px;
}

.label-light {
  color: gray;
  font-weight: 500;
  font-size: 14px;
}

.details-changepercent {
  font-size: 14px;
  font-weight: bold;
  margin-left: 7px;
}
